<nb-layout>
    <nb-layout-header fixed>
        <h1>Jean's Recipe Book</h1>
        <button nbButton size="tiny" status="info" class="titleButton">About</button>
        <button nbButton size="tiny" status="secondary" class="titleButton" [routerLink]="['/recipe_table']">View as table</button>
    </nb-layout-header>

    <nb-sidebar>
        <div class="searchContainer">
            <input nbInput type="text" placeholder="Search..." (ngModelChange)="filter()" [(ngModel)]="searchValue">
            <br>
            <button nbButton status="primary" size="tiny" (click)="filter()">Search</button>
            <button nbButton size="tiny" (click)="clearSearch()">Clear</button>
        </div>
        <nb-card>
            <nb-card-header>Category</nb-card-header>
            <nb-card-body>
                <div *ngFor="let item of categories; let i = index;">
                    <nb-checkbox (checkedChange)="applyCategory(i)">{{item}}</nb-checkbox>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-sidebar>

    <nb-layout-column class="colored-column-basic">
        <ng-container *ngFor="let item of filteredOptions">
            <nb-card>
                <nb-card-header>{{item.name}}</nb-card-header>
                <nb-card-body>
                    Cook time:
                    <ng-container *ngIf="item.cook.hours > 0">{{item.cook.hours}} hour</ng-container>
                    <ng-container *ngIf="item.cook.hours > 1">s</ng-container>
                    <ng-container *ngIf="item.cook.hours > 0 && item.cook.minutes > 0">, </ng-container>
                    <ng-container *ngIf="item.cook.minutes > 0">{{item.cook.minutes}} minutes</ng-container>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton outline status="primary" [routerLink]="['/recipe', item.id]">Open</button>
                </nb-card-footer>
            </nb-card>
        </ng-container>
        <h5 *ngIf="badSearch">Nothing to show :(</h5>
    </nb-layout-column>
</nb-layout>