<nb-layout>
    <nb-layout-header>
        <h1>Jean's Recipe Book</h1>
        <button nbButton size="tiny" status="info" class="titleButton">About</button>
    </nb-layout-header>

    <nb-layout-column class="colored-column-basic">
        <div class="searchContainer">
            <input type="text" placeholder="Search..." [(ngModel)]="searchValue">
            <button nbButton status="primary" size="tiny" (click)="initFilter()">Search</button>
            <button nbButton size="tiny" (click)="clearSearch()">Clear</button>
        </div>

        <ng-container *ngFor="let item of searchOptions">
            <nb-card>
                <nb-card-header>{{item.name}}</nb-card-header>
                <nb-card-body>
                    Cook time: 
                    <ng-container *ngIf="item.cook.hours > 0">{{item.cook.hours}} hour(s), </ng-container>
                    <ng-container *ngIf="item.cook.minutes > 0">{{item.cook.minutes}} minutes</ng-container>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton outline status="primary" [routerLink]="['/recipe', item.id]">Open</button>
                </nb-card-footer>
            </nb-card>
        </ng-container>
    </nb-layout-column>
</nb-layout>