html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: Comfortaa;
}

.titleButton {
    margin-left: 3em;
}

.searchContainer {
    margin-left: 1em;
    margin-bottom: 1em;
}

 .searchContainer input {
    margin-bottom: 0.5em;
}

.searchContainer button {
    margin-right: 0.5em;
}

.filter {
    margin-left: 1em;
    margin-bottom: 1em;
}