html {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: Comfortaa;
}

.titleButton {
    margin-left: 3em;
}

.searchContainer {
    margin-bottom: 1em;
}

.searchContainer button {
    margin-left: 1em;
}