<nb-layout>
    <nb-layout-header fixed>
        <h3>{{selectedRecipe.name}}</h3>
    </nb-layout-header>

    <nb-sidebar class="itemContainer">
        <nb-card size="medium" style="min-height: 0em;">
            <nb-card-header>Ingredient List</nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let ingredient of selectedRecipe.ingredients">
                    {{ingredient.name}}
                </nb-list-item>
            </nb-list>
        </nb-card>

        <button nbButton size="small" [routerLink]="['/recipe']">Back to List</button>
        <br>
        <button nbButton size="small" status="primary" style="margin-top: 1em;">Print Ingredients</button>
    </nb-sidebar>

    <nb-layout-column class="itemContainer">
        <h3>Ingredients</h3>
        <table>
            <tr>
                <th>Amount</th>
                <th>Item</th>
            </tr>
            <tr *ngFor="let ingredient of selectedRecipe.ingredients">
                <td class="amount">{{ingredient.amount}}</td> 
                <td>{{ingredient.name}}</td>
            </tr>
        </table>
        <h3>Directions</h3>
        <ng-container *ngFor="let direction of parsedDirections; let i = index;">
            <nb-checkbox (checkedChange)="change(i)">
                <div *ngIf="!done[i]">{{direction}}</div>
                <s *ngIf="done[i]">{{direction}}</s>
            </nb-checkbox>
            <br>
        </ng-container>
    </nb-layout-column>
</nb-layout>