<nb-layout>
    <nb-layout-header fixed>
        <h3>{{selectedRecipe.name}}</h3>
        <button nbButton size="tiny" status="info" [routerLink]="['/recipe']">Back to List</button>
        <button nbButton size="tiny" status="secondary" (click)="saveRecipe()">Add to Cart</button>
    </nb-layout-header>

    <nb-layout-column class="itemContainer">
        <ng-container *ngIf="loading" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerMessage="Loading..."></ng-container>
        <ng-container *ngIf="!loading">
            <h3>Ingredients</h3>
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Item</th>
                </tr>
                <tr *ngFor="let ingredient of selectedRecipe.ingredients">
                    <td class="amount">{{ingredient.amount}}</td>
                    <td>{{ingredient.name}}</td>
                </tr>
                <ng-container *ngIf="selectedRecipe.subIngredients">
                    <tr>
                        <th colspan="2">{{selectedRecipe.subName}}</th>
                    </tr>
                    <tr *ngFor="let subs of selectedRecipe.sub">
                        <td class="amount">{{subs.amount}}</td>
                        <td>{{subs.name}}</td>
                    </tr>
                </ng-container>
            </table>
            <h3>Directions</h3>
            <ng-container *ngFor="let direction of parsedDirections; let i = index;">
                <nb-checkbox (checkedChange)="change(i)">
                    <div *ngIf="!done[i]">{{direction}}</div>
                    <s *ngIf="done[i]">{{direction}}</s>
                </nb-checkbox>
                <br>
            </ng-container>
        </ng-container>
    </nb-layout-column>
</nb-layout>