table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th,td {
    border-bottom: 1px dashed black;
}

td {
    width: 50%;
}

ul {
    list-style: none;
}

nb-layout-header button {
    margin-left: 3em;
}

.itemContainer {
    text-align: center;
}

.amount {
    width: 10%;
    border-right: 1px solid black;
}