<nb-layout>
    <nb-layout-header>
        <h1>Hello, my name is Jeffrey Carr</h1>
    </nb-layout-header>
    <nb-layout-column>
        <div class="center-container">
            <img src="../../assets/media/profile.jpg" class="profile" />
            <a href="https://www.linkedin.com/in/jeffrey-carr/" target="_blank"><img
                    src="../../assets/media/linkedin_profile.png" alt="linkedin logo" class="company-logo" /></a>
            <a href="https://github.com/jcarr98" target="_blank"><img src="../../assets/media/github_profile.png"
                    class="company-logo" /></a>
        </div>
    
        <div class="center-container">
            <button nbButton size="small" status="info" class="recipeButton" [routerLink]="['/recipe']">
                To Recipe Book
            </button>
        </div>
    
        <nb-tabset fullWidth>
            <nb-tab tabTitle="About Me">
                <p>I am a junior year computer science major at the University of Massachusetts Amherst with an interest in security and 
                    full stack software engineering.
                    <br><br>
                    I've been interested in computers since I was in middle school when I started playing video games and though it was amazing what you could do on a computer. Freshman year of high school, I started a programming 
                    club as a place where students could collaborate and learn about programming since our school didn't offer much in terms of software development. Since then, I've learned a lot about programming concepts and languages 
                    as well as how computers actually work.
                    <br><br>
                    In my part time I like to play around with projects trying to learn new skills. I also enjoy playing sports, mostly intramural flag football and basketball with my friends, and love any way I can get my energy out. In my
                    sophomore year of college, I started a video game development club because I wanted to learn the skills I needed to create something fun for others to enjoy. To this day, the club has about 15 active members and 62 people in
                    our Discord server.
                    <br><br>
                    Another great place to learn stuff about me is this <a href="https://jeffjeanusa.blogspot.com/" target="_blank">blog</a> that my mom created during our drive across the country. This is the second time we've
                    done a trip like this and I feel very luck to have that opportunity. This was a very important trip for me, so having the blog to memorialize it is amazing.
                </p>
            </nb-tab>
            <nb-tab tabTitle="Projects">
                <p>This section will show my most recent project. Eventually, projects will have their own dedicated page but for now the code can be found on my <a target="_blank" href="https://github.com/jcarr98">Github page</a>.</p>
            </nb-tab>
            <nb-tab tabTitle="Resume">
                <p>This section will show the highlights of my resume. You can access it below.</p>
                <div class="buttonContainer">
                    <a nbButton size="medium" status="primary" href="../../assets/documents/Jeffrey Carr Resume.pdf" target="_blank">Download Resume</a>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-layout-column>
    
</nb-layout>